.nextPrevPostContainer {
  @apply flex;
  @apply flex-col;
  @apply justify-center;
  @apply text-center;
  @apply mx-auto;
  @apply mb-4;
}

.nextPrevPostIconContainer {
  @apply text-center;
}

.nextPrevPostIcon {
  @apply fill-current;
  @apply text-gray-500;
  @apply w-5;
  @apply h-5;
  @apply inline;
}

.nextPrevPostText {
  @apply uppercase;
  @apply text-xs;
  @apply text-gray-500;
  @apply text-center;
}

.nextPrevPostTitle {
  @apply text-teal-400;
}

.postPreviewList {
  @apply w-8;
  @apply h-8;
  transition: width 0.3s, height 0.3s;
  -webkit-transition: width 0.3s, height 0.3s;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .postPreviewList:hover {
    width: 512px;
    height: 500px;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .postPreviewList:hover {
    width: 512px;
    height: 500px;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 180px) {
  .postPreviewList:hover {
    width: 80%;
    height: 50vh;
  }
}

.tableOfContents {
  top: -3rem;
}

.darkenImage {
  filter: brightness(100%);
  transition: transform 0.5s, filter 0.5s;
  -webkit-transition: transform 0.5s, filter 0.5s;
}

.darkenImage:hover {
  filter: brightness(50%);
}

.blogTag {
  font-family: 'Changa', sans-serif;
}

.blogIndex {
  padding: 0 5%;
}

.blogIndex h1 {
  margin-bottom: 50px;
}

.noPosts {
  text-align: center;
}

.postPreview {
  max-width: 600px;
  margin: 10px auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.postPreview:last-child {
  border-bottom: none;
}

.postPreview h3,
.post h1 {
  margin-bottom: 0;
}

.post h1 {
  margin-top: 0;
}

.post :global(h2),
.post :global(h3) {
  margin: 3rem 0 1.5rem 0;
}

.post :global(video),
.post :global(img) {
  margin: 2rem auto;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  display: block;
}

.postPreview :global(.posted) {
  margin-bottom: 0.5em;
}

.post {
  max-width: calc(600px + 10%);
  margin: 0 auto;
  padding: 5%;
}

.post :global(hr) {
  margin-bottom: 2em;
}

.post :global(a + p) {
  margin-top: 0;
}
